{% extends 'Home/base.html' %}
    {% load static %}
        
    {% block INDEX_TITULO %} <h1>Santiago Avalos</h1> {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}
    <div class="block-about">
        <img src="{% static 'Home/assets/img/FotoPerfil2.jpg' %}" alt="imagen">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro tempore quas nulla aperiam culpa dolore repellat tempora amet sint eius, dolorem fugit ipsum quibusdam repellendus similique sequi officia nesciunt rem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, mollitia. Accusamus, repudiandae deserunt eligendi iusto, harum expedita et, numquam id inventore eveniet beatae dicta voluptatem cum suscipit ipsam ab Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, illum blanditiis. Commodi repudiandae qui ea molestiae alias, autem laborum non cupiditate dolorem! Deleniti saepe dignissimos harum autem accusantium dolor ad. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto officia non neque placeat reiciendis voluptatem saepe atque minima eius, repellat harum quae repellendus! Repellendus, repellat ipsam. Exercitationem facere quasi a.</p>
    </div>
        <div class="enlaces">
            <a href="#" class="btn btn-light btn-lg">Instagram</a>
            <a href="#" class="btn btn-success btn-lg">Whatsapp</a>
        </div>
    {% endblock INDEX_CONTENIDO %}