{% extends 'Home/base.html' %}

    {% block INDEX_TITULO %} <p>Crear Productos</p> {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}

        {% if form.errors %}
        <div class="alerta">
            Hubo un error en la carga de Datos!
        </div> 
        {% endif %}

        <form action="{% url 'producto:guardarproducto' %}" method="POST">
            {% csrf_token %}
            {% if mensaje %}
                <div class="alertaConcedida">
                    Producto Creado!
                </div>
            {% endif %}

            {{ form }}
            <button type="submit" class="boton">Guardar</button>
        </form>
    {% endblock INDEX_CONTENIDO %}