{% extends 'Home/base.html' %}
    {% load static %}

    {% block INDEX_TITULO %} <h1>Asesorias</h1> {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}
        {% if user.is_authenticated %}
        <div class="enlaces">
            <a href="{% url 'producto:producto_create' %}" type="button" class="btn btn-primary">Crear Asesoria</a><br>
            <a href="{% url 'producto:producto_list' %}" type="button" class="btn btn-primary">Listar Asesoria</a><br>
        </div>
        {% endif %}

        <section class="imagen-producto muestra">
            {% for producto in productos %}
                <article>
                    <p>{{ producto.nombre }}</p>
                    <p>{{ producto.precio }}</p>
                    <p>{{ producto.descripcion }}</p>
                    {% if producto.imagen %}
                        <div class="imagen-producto">
                            <img src="{{ producto.imagen.url }}" alt="imagen">
                        </div>
                    {% else %}
                        <div class="">
                            <img src="{% static 'producto/blanco.jpg' %}" alt="imagen">
                        </div>
                    {% endif %}
                    <a href="#" type="button" class="btn btn-outline-primary btn-lg enlaces">Comprar</a>
                </article>
            {% endfor %}
        </section>

    {% endblock INDEX_CONTENIDO %}