{% extends 'Home/base.html' %}
    {% block INDEX_TITULO %} <h1>Hola</h1> {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}
        {% if user.is_staff %}
            <a href="{% url 'producto:producto_create' %}">Crear Producto</a><br>
            <a href="{% url 'producto:producto_list' %}">Listar Productos</a><br>
        {% endif %}


        {% for producto in productos %}
            <p>{{ producto.nombre }}</p>
            <p>{{ producto.precio }}</p>
            <p>{{ producto.descripcion }}</p>
            <p>{{ producto.imagen }}</p>
            <p>{{ producto.fecha_actualizacion }}</p>
        {% endfor %}

    {% endblock INDEX_CONTENIDO %}