{% extends 'Home/base.html' %}

    {% block INDEX_TITULO %} <h1>Detalle de Asesorias</h1> {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}
        
        <ul>
            <li>Nombre: {{ object.nombre }} </li>
            <li>Precio: ${{ object.precio }} </li>
            <li>Descripción: {{ object.descripcion }} </li>
            <li>Imagen: {{ object.imagen }}</li>
            <li>Fecha de actualización: {{ object.fecha_actualizacion }} </li>
        </ul>
        
    {% endblock INDEX_CONTENIDO %}