{% extends 'Home/base.html' %}
    {% load crispy_forms_tags %}

    {% block INDEX_TITULO %} <h1>Formulario</h1> {% endblock INDEX_TITULO %}
    {% block INDEX_CONTENIDO %}

        {% if form.errors %}
            <div class="alerta">
                Hubo un error en la carga de Datos!
            </div> 
        {% endif %}

        <form class="formulario" action="{% url 'cliente:guardarformulario' %}" method="POST">
            {% csrf_token %}
            {% if mensaje %}
                <div class="alertaConcedida">
                    Mensaje Enviado Correctamente!
                </div>
            {% endif %}

            {{ form }}
            <button type="submit" class="boton">Enviar</button>
        </form>
        
    {% endblock INDEX_CONTENIDO %}