{% extends 'Home/base.html' %}

    {% block INDEX_TITULO %} Clientes {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}

        {% for cliente in clientes %}
            <p>{{ cliente.nombre }}</p>
            <p>{{ cliente.apellido }}</p>
            <p>{{ cliente.nacimiento }}</p>
            <p>{{ cliente.sexo_id }}</p>
            <a href="{% url 'cliente:cliente_delete' cliente.id %}" class="btn btn-danger  btn-sm">
                Eliminar</a>
        {% endfor %}
    {% endblock INDEX_CONTENIDO %}