{% extends 'Home/base.html' %}

    {% block INDEX_CONTENIDO %}
        <h1>Clientes</h1>
        <div class="muestra">
            {% for cliente in clientes %}
            <div class="contenedor">           
                <p>{{ cliente.nombre }}</p>
                <p>{{ cliente.apellido }}</p>
                <p>{{ cliente.nacimiento }}</p>
                <p>{{ cliente.sexo_id }}</p>
                <a href="{% url 'cliente:cliente_delete' cliente.id %}" class="btn btn-danger btn-lg">Eliminar</a>
            </div>
        {% endfor %}
        </div>
    {% endblock INDEX_CONTENIDO %}