{% extends 'Home/base.html' %}

    {% block INDEX_TITULO %} <h1>Clientes</h1> {% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}

        {% for cliente in clientes %}
            <div class="contenedor">           
                <p>{{ cliente.nombre }}</p>
                <p>{{ cliente.apellido }}</p>
                <p>{{ cliente.nacimiento }}</p>
                <p>{{ cliente.sexo_id }}</p>
                <a href="{% url 'cliente:cliente_delete' cliente.id %}" class="btn btn-danger btn-lg">Eliminar</a>
            </div>
        {% endfor %}
    {% endblock INDEX_CONTENIDO %}